@import url("./assets/fonts/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


svg {
  width: 200px;
  height: 45px;
}

svg text {
  animation: stroke 3s infinite alternate;
  stroke-width: 4;
  stroke: #FFFFFF;
  font-size: 50px;
}

@media only screen and (min-width: 924px) {
  .burger-menu, .sub-nav-menu {
    display: none;
    --menu-status: none;
  }
}

@media only screen and (max-width: 925px) {
  .burger-menu {
    display: visible;
  }

  .main-menu {
    display: none;
  }
}

:root {
    --menu-status: none;
}

.sub-nav-menu {
  display: var(--menu-status);
}




@keyframes stroke {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  } 
  
  70% {
    fill:rgba(255, 255, 255, 0); 
    stroke:rgba(255, 255, 255, 1);
  }

  80% {
    fill:rgba(255, 255, 255, 0); 
    stroke:rgba(255, 255, 255, 1);
    stroke-width: 3;
  }

  100% {
    fill:rgba(255, 255, 255, 1); 
    stroke:rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
/* .intro-text {
  position: relative;
}
.intro-text::after {
  content: "";
  position: absolute;
  left: 0;
  height: 6vh;
  width: 100%;
  background: rgb(18, 18, 31);
  border-left: 2px solid white;
  animation: typing 6s steps(19) infinite;
}

@keyframes typing {
  100% {
    left: 70%;
    margin: 0 -36px 0 36px;
  }
  
} */

li {
  cursor: pointer;
}

button:hover, li:hover {
  color: rgb(6, 223, 223);
  border-color: rgb(6, 223, 223);
}

* {
  color:#FFFFFF;
  animation: fadeIn 0.5s;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 18, 31);
}

.card {
  background-color: rgb(27, 27, 48);
  border-radius: 0.25rem;
}

.nav-menu ul li {
  padding: 20px 0 20px 0;

  /* border: solid 2px white; */
}
